/* prevent problems with different browsers*/
* {box-sizing: border-box;}



body {
   font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Header Stuff Here*/
header {
    background-color: #987284;
    padding: 1rem 2vw;
    display: flex;
    align-items: flex-end;

}
header h1 {
    margin: 0;
    color: #fff;
    
}
header p {
    margin: 0;
    color: #fff;
    letter-spacing: .5px;
    
}


/* small screens */
@media only screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        
    }
    nav a {
        display:block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        background-color: #9dbf9e;
        text-transform:uppercase;
        text-align: center;
        border-bottom: solid 1px #aaa;
        color: black;
    }
    nav .active a{
      background-color: #013220;
        background-image: linear-gradient(to bottom, #013220, #00120b);
        color: white;
    }
} /*end of the media query*/

/*wide screens*/
@media only screen and (min-width: 801px) {

/* nav stuff goes here */
nav {
    background-color: #9dbf9e;
    
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: #013220;
        color: #fff;
}
nav a:hover {
    color: white;
}
} /*end of the media query*/

/* stuff for the main */
main {
    padding:  1rem 2vw;
    
}

.baristahero {
    width: 100%;
    margin: 0;
}
.baristahero img {
    width: 100%;
    height: auto;
}

main h1 {
    color: #013220;
}
main h2 {
    color: #987284;
    margin-bottom: .2rem;
}

main p {
    color: #301934;
    margin: 0 0 .3rem 0;
}
main ol {
    padding: .5rem 3vw;
    background-color: #9dbf9e;
}

main dl dt {
    color: #013220;
    font-weight: 700;
}
main dl dd {
    color: #301934;
    font-size: .9rem;
}
main ul {
    list-style-type: circle;
}
main li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    background-color: #9dbf9e;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #301934;
    border-radius: 5px;
}

main a {
    color: #000;
}
main a:hover {
    color: #987284;
}

figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
    
}
div.gallery figure {
    text-align: center;
    font-size: .8rem;
    color: #987284;
}
div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,01);}



.myForm fieldset {
    border: 1px solid #9dbf9e;
        border-radius: 3px;
    margin-bottom: 1rem;    
}

.myForm legend {
    color: rgb(152,114,132);
    font-size .8rem;  
}
.myForm label {
    margin: .5rem;  
}

.myForm label, .myForm select, .myForm [type=text],.myForm [type=tel], .myForm textarea, .myForm [type=email] {
    display:block;
    
}

.myForm [type=text], .myForm [type=tel],.myForm [type=email], .myForm select, .myForm textarea{
    
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
     font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
} 

.myForm textarea {
    height: 6rem;
}


.myForm :required {
    background-color: rgba(152,114,132,0.1);
}


.myForm [type=submit] {
    background-color: #013220;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}


table.matcha-table {
    width:100%;
    border-collapse: collapse;
}
table.matcha-table th {
    background-color: #987284;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}
table.matcha-table td {
    color: #013220;
    padding:.4rem 2vw;
}
table.matcha-table tr:nth-child(odd) {
    background-color: #f7f7f7;
}
table.matcha-table tr:hover {
    background-color: rgba(106,34,39,0.2);
}


/* Footer Stuff here*/
footer {
    background-color: #987284;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
    font-size: .9rem;
}
footer a {
    color: #fff;
}


header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}
